# Binaries
/bin
/obj

# Development artifacts
/compile_commands.json

# Models, tokenizers
*.bin
*.model
/models
/cache

# Profiling
perf.data
*.old
*.csv*

# VS Code
/.vscode/

# Python
__pycache__/

# Development notes that don't need to be committed.
/notes
